<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WebclientAutomation" verbose="1">

	<test name="Notes">
		<classes>
			<class name="com.schooltas.webclient.tests.noteTests.NoteTests" />
		</classes>
	</test>

	<test name="Settings">
		<classes>
			<class name="com.schooltas.webclient.tests.settingsTests.SettingsTests" />
		</classes>
	</test>

	<test name="Books">
		<classes>
			<class name="com.schooltas.webclient.tests.booksTests.BookViewerTests" />
			<class name="com.schooltas.webclient.tests.booksTests.MyBooksTests" />
		</classes>
	</test>
</suite>